@*Define model*@

@model List<Tag>

@{ 
    ViewData["Title"] = "List of Tags";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table>
            <thead>
                <tr>
                    <th>Picture</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
</div>

@*Define ViewData*@

@*Write code*@
<h1> Welcome to Tags View - Index</h1>